
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.offer-container {
      display: grid;
      grid-template-areas:
        "bloom zabo"
        "ana   zabo";
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
.bloom {
      grid-area: bloom;
      background-image: url('../assets/deal-bloom.png');
      background-repeat: no-repeat;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }

    .ana {
      grid-area: ana;
      background-image: url('../assets/deal-ana.png');
      background-repeat: no-repeat;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }

    .zabo {
      grid-area: zabo;
      height: 423px;
      background-image: url('../assets/deal-zabo.png');
      background-repeat: no-repeat;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }
  @media (max-width: 768px) {
      .offer-container {
        grid-template-areas:
          "bloom"
          "ana"
          "zabo";
        grid-template-columns: 1fr;
      }

      .zabo,.bloom,.ana {
        height: 300px;
      }
    }
  
.join-form-container{
      background-image: url(../assets/news-letter-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      padding-top: 30px;
    
    }
.form-container input{
  background-color: #ffffff;
  padding: 10px 50px;
  border: none;
  
}
.form-container button{
  background-color:#E95A08;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
}
 

   